<br>
<div class="container">
    <div style="text-align:center;">
        <h1><strong>Control Herramientas</strong></h1>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="date"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Fecha"
                />
                <label for="floatingInput">Fecha</label>
              </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="String"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Nit"
                />
                <label for="floatingInput">Documento Empleado</label>
              </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="String"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Nombre"
                />
                <label for="floatingInput">Nombre</label>
            </div>
        </div>
    </div> 
    <div class="row">
        
        <div class="col">
    
            <select class="form-select" aria-label="Default select example">
                <option selected>Lista Herramientas</option>
                <option *ngFor="let herramienta of herramientas">{{ herramienta }}</option>
            </select>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>  
    <br>
    <textarea name="" id="" rows="10" class="form-control"></textarea>
    <br>
    <div style="text-align: center;">
        <button class="btn btn-primary">Grabar</button>
    </div>

</div>