<br>
<div class="container">
    <div style="text-align:center;">
        <h1><strong>Crear Documentos</strong></h1>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="string"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Tipo Documento"
                  autofocus
                />
                <label for="floatingInput">Tipo Documento</label>
              </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="String"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Nombre Grupo"
                />
                <label for="floatingInput">Nombre Documento</label>
              </div>
        </div>
    </div>   

    <div style="text-align: center;">

        <button class="btn btn-primary">Crear Documento</button>

    </div>
    <hr>
    <div style="text-align: center;">
        <h2><strong>Lista de Documentos</strong></h2>
    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo de Documento</th>
            <th scope="col">Nombre Documento</th>
            <th scope="col">Editar/Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

</div>