<mat-accordion class="mat-accordion">  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;transform: msFilter"><path d="M19 2H9c-1.103 0-2 .897-2 2v6H5c-1.103 0-2 .897-2 2v9a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4c0-1.103-.897-2-2-2zM5 12h6v8H5v-8zm14 8h-6v-8c0-1.103-.897-2-2-2H9V4h10v16z"></path><path d="M11 6h2v2h-2zm4 0h2v2h-2zm0 4.031h2V12h-2zM15 14h2v2h-2zm-8 .001h2v2H7z"></path></svg>
          Administracion
        </mat-panel-title>
        <mat-panel-description>          
        </mat-panel-description>
      </mat-expansion-panel-header>  
      <div class="fuente">
        <a class="collapse-item" routerLink="administrar/crearempresa">Crear Empresa</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="administrar/crearusuarios">Crear Usuario</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="administracion/aperturacontrato">Apertura de Contrato</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="administracion/actainicio">Acta de Inicio</a> 
      </div>  
      <div class="fuente">
        <a class="collapse-item" routerLink="administracion/actatecnicainicial">Acta Tecnica Inicial</a> 
      </div>                 
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="mat-accordion">  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;transform: msFilter"><path d="M21 3h-7a2.98 2.98 0 0 0-2 .78A2.98 2.98 0 0 0 10 3H3a1 1 0 0 0-1 1v15a1 1 0 0 0 1 1h5.758c.526 0 1.042.214 1.414.586l1.121 1.121c.009.009.021.012.03.021.086.079.182.149.294.196h.002a.996.996 0 0 0 .762 0h.002c.112-.047.208-.117.294-.196.009-.009.021-.012.03-.021l1.121-1.121A2.015 2.015 0 0 1 15.242 20H21a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.758 18H4V5h6c.552 0 1 .449 1 1v12.689A4.032 4.032 0 0 0 8.758 18zM20 18h-4.758c-.799 0-1.584.246-2.242.689V6c0-.551.448-1 1-1h6v13z"></path></svg>
          Precontractual
        </mat-panel-title>
        <mat-panel-description>          
        </mat-panel-description>
      </mat-expansion-panel-header>  
      <div class="fuente">
        <a class="collapse-item" routerLink="precontractual/estudiotecnico">Estudio Tecnico</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="precontractual/estudioadministrativo">Estudio Administrativo</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="precontractual/estudioambiental">Estudio Ambiental</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="precontractual/estudiojuridico">Estudio Juridico</a> 
      </div>            
      <div class="fuente">
        <a class="collapse-item" routerLink="precontractual/estudioFinanciero">Estudio Financiero</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="precontractual/interventoria">Interventoria</a> 
      </div> 
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="mat-accordion">  
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;transform: msFilter"><path d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"></path><path d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"></path></svg>
            Correspondencia
          </mat-panel-title>
          <mat-panel-description>          
          </mat-panel-description>
        </mat-expansion-panel-header>        
        <div class="fuente">
          <a class="collapse-item" routerLink="correspondencia/recibida">Recibida</a> 
        </div> 
        <div class="fuente">
          <a class="collapse-item" routerLink="correspondencia/despachada">Despachada</a> 
        </div>
        <div class="fuente">
          <a class="collapse-item" routerLink="correspondencia/informes">Informes</a> 
        </div>         
      </mat-expansion-panel>
    </mat-accordion>
  <mat-accordion class="mat-accordion">  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;transform: msFilter"><path d="M20 2H8a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm-6 2.5a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM19 15H9v-.25C9 12.901 11.254 11 14 11s5 1.901 5 3.75V15z"></path><path d="M4 8H2v12c0 1.103.897 2 2 2h12v-2H4V8z"></path></svg>        
          Nomina
        </mat-panel-title>
        <mat-panel-description>          
        </mat-panel-description>
      </mat-expansion-panel-header>  
      <div class="fuente">
        <a class="collapse-item" routerLink="nomina/crearempleado">Crear Empleado</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="nomina/editareliminarempleado">Editar/Eliminar Empleado</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="nomina/fondopensiones">Fondo de Pensiones</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="nomina/fondosalud">Fondo de Salud</a> 
      </div>   
      <div class="fuente">
        <a class="collapse-item" routerLink="nomina/riesgoslaborales">Riesgos laborales</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="nomina/cajacompensacion">Caja de Compensacion</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="nomina/informeempleados">Informe por Empleados</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="nomina/informefondopensiones">Informe por Fondo Pensiones</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="nomina/informefondosalud">Informe por Fondo Salud</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="nomina/informeriesgoslaborales">Informe por Riesgos Laborales</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="nomina/informecajacompensacion">Informe por Caja de Compensacion</a> 
      </div> 
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="mat-accordion">  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;transform: msFilter"><path d="M4.626 8.878a7.937 7.937 0 0 1 1.71-2.541 7.92 7.92 0 0 1 2.542-1.71 8.12 8.12 0 0 1 6.13-.041A2.49 2.49 0 0 0 17.5 7C18.886 7 20 5.886 20 4.5S18.886 2 17.5 2c-.689 0-1.312.276-1.763.725-2.431-.973-5.223-.958-7.635.059-1.19.5-2.26 1.22-3.18 2.139A9.98 9.98 0 0 0 2 12h2c0-1.086.211-2.136.626-3.122zm14.747 6.244c-.401.952-.977 1.808-1.71 2.541s-1.589 1.309-2.542 1.71a8.12 8.12 0 0 1-6.13.041A2.488 2.488 0 0 0 6.5 17C5.114 17 4 18.114 4 19.5S5.114 22 6.5 22c.689 0 1.312-.276 1.763-.725A9.973 9.973 0 0 0 12 22a9.983 9.983 0 0 0 9.217-6.102A9.992 9.992 0 0 0 22 12h-2a7.993 7.993 0 0 1-.627 3.122z"></path><path d="M12 7.462c-2.502 0-4.538 2.036-4.538 4.538S9.498 16.538 12 16.538c2.502 0 4.538-2.036 4.538-4.538S14.502 7.462 12 7.462z"></path></svg>
          Planeacion
        </mat-panel-title>
        <mat-panel-description>          
        </mat-panel-description>
      </mat-expansion-panel-header>  
      <div class="fuente">
        <a class="collapse-item" routerLink="planeacion/inventarios">Inventario</a> 
      </div>     
      <div class="fuente">
        <a class="collapse-item" routerLink="planeacion/cronograma">Cronograma de Actividades</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="planeacion/presupuesto">Presupuesto</a> 
      </div>     
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="mat-accordion">  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;transform: msFilter"><path d="M22 5c0-1.654-1.346-3-3-3H5C3.346 2 2 3.346 2 5v2.831c0 1.053.382 2.01 1 2.746V19c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-8.424c.618-.735 1-1.692 1-2.746V5zm-2 0v2.831c0 1.14-.849 2.112-1.891 2.167L18 10c-1.103 0-2-.897-2-2V4h3c.552 0 1 .449 1 1zM10 4h4v4c0 1.103-.897 2-2 2s-2-.897-2-2V4zM4 5c0-.551.448-1 1-1h3v4c0 1.103-.897 2-2 2l-.109-.003C4.849 9.943 4 8.971 4 7.831V5zm6 14v-3h4v3h-4zm6 0v-3c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v3H5v-7.131c.254.067.517.111.787.125A3.988 3.988 0 0 0 9 10.643c.733.832 1.807 1.357 3 1.357s2.267-.525 3-1.357a3.988 3.988 0 0 0 3.213 1.351c.271-.014.533-.058.787-.125V19h-3z"></path></svg>
          Almacen
        </mat-panel-title>
        <mat-panel-description>          
        </mat-panel-description>
      </mat-expansion-panel-header>  
      <div class="fuente">
        <a class="collapse-item" routerLink="almacen/compras">Compras</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="almacen/traslados">Traslados</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="almacen/devolucionesaverias">Devoluciones/Averias</a> 
      </div>   
      <div class="fuente">
        <a class="collapse-item" routerLink="almacen/devolucionescompras">Devolucion Compras</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="almacen/entregadotacion">Entrega Dotacion</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="almacen/controlherramienta">Control Herramientas</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="almacen/crearproveedor">Crear Proveedor</a> 
      </div> 
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="mat-accordion">  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;transform: msFilter"><path d="m20 8-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8zM9 19H7v-9h2v9zm4 0h-2v-6h2v6zm4 0h-2v-3h2v3zM14 9h-1V4l5 5h-4z"></path></svg>
          Registro y Consultas de Ejecucion
        </mat-panel-title>
        <mat-panel-description>          
        </mat-panel-description>
      </mat-expansion-panel-header>  
      <div class="fuente">
        <a class="collapse-item" routerLink="registroyconsultasdeejecucion/bitacora">Bitacora</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="registroyconsultasdeejecucion/informeactividades">Informe de Actividades</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="registroyconsultasdeejecucion/informeasistencia">Informe de Asistencia</a> 
      </div>   
      <div class="fuente">
        <a class="collapse-item" routerLink="registroyconsultasdeejecucion/informemaquinaria">Informe de Maquinaria</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="registroyconsultasdeejecucion/memoriacalculo">Memoria de Calculo</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="registroyconsultasdeejecucion/consultaavanceobra">Consulta Avances de Obra</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="registroyconsultasdeejecucion/pruebaslaboratorio">Prueba de Laboratorio</a> 
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="mat-accordion">  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;transform: msFilter"><path d="M19 4h-3V2h-2v2h-4V2H8v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zM5 20V7h14V6l.002 14H5z"></path><path d="M7 9h10v2H7zm0 4h5v2H7z"></path></svg>
          Contabilidad
        </mat-panel-title>
        <mat-panel-description>          
        </mat-panel-description>
      </mat-expansion-panel-header>  
      <div class="fuente">
        <a class="collapse-item" routerLink="contabilidad/crearplancuentas">Crear Plan de Cuentas PUC</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="contabilidad/creardocumentos">Crear Documentos</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="contabilidad/registrarasiento">Registrar Asiento</a> 
      </div>   
      <div class="fuente">
        <a class="collapse-item" routerLink="contabilidad/consultacuenta">Consulta por Cuenta</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="contabilidad/consultadocumento">Consulta por Documento</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="contabilidad/consultatercero">Contulta por Tercero</a> 
      </div>
      <div class="fuente">
        <a class="collapse-item" routerLink="contabilidad/balancegeneral">Balance General</a> 
      </div> 
      <div class="fuente">
        <a class="collapse-item" routerLink="contabilidad/balancedetallado">Balance Detallado</a> 
      </div> 
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="mat-accordion">  
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;transform: msFilter"><path d="M19.002 3h-14c-1.103 0-2 .897-2 2v4h2V5h14v14h-14v-4h-2v4c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.898-2-2-2z"></path><path d="m11 16 5-4-5-4v3.001H3v2h8z"></path></svg>
          ...
        </mat-panel-title>
        <mat-panel-description>          
        </mat-panel-description>
      </mat-expansion-panel-header>  
      <div class="fuente">
        <a class="collapse-item" href="login">Cerrar sesion</a> 
      </div>         
    </mat-expansion-panel>
  </mat-accordion>