<br>

<div class="container">
    <div style="text-align:center;">
        <h1><strong>Interventoria</strong></h1>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Datos</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Lista Chequeo</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="container">    
                <br>
                <div class="row">
                    <div class="col">
                        <h2><strong>Confirmacion Recepcion Documentacion</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(121, 252, 121);transform: msFilter"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm-1.999 14.413-3.713-3.705L7.7 11.292l2.299 2.295 5.294-5.294 1.414 1.414-6.706 6.706z"></path></svg></h2>
                    </div>
                    <div class="col"></div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <h2><strong>Entidad Contratante</strong></h2>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccione Contratante</option>
                            <option value="1">Construcciones Prueba SAS</option>
                        </select>
                    </div>
                    <div class="col"></div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <br><br>
                        <h2><strong>Participantes</strong></h2>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            Participante 1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Participante 2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Participante 3
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Participante 4
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Participante 5
                            </label>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <h2><strong>Contrato #</strong></h2>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccione Contrato</option>
                            <option value="1">AD52421BJF</option>
                        </select>
                    </div>
                    <div class="col"></div>
                </div>
            
                <div class="row">
                    <div class="col">
                        <h2><strong>Localizacion</strong></h2>
                    </div>
                    <div class="col">
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="col"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h2><strong>Plazo Ejecucion Contrato</strong></h2>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h2><strong>Valor de Contrato</strong></h2>
                    </div>
                    <div class="col">
                        <input type="number" class="form-control">
                    </div>
                    <div class="col"></div>
                </div>
        
            </div>

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <br>
            <div class="row">                
                <div class="col">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Hojas de vida personal
                        </label>
                    </div>                    
                </div>
                <div class="col">
                    <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file"> 
                </div>
            </div>
        
            <div class="row">                
                <div class="col">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Relacion de Equipo Ofrecido
                        </label>
                    </div>                    
                </div>
                <div class="col">
                    <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file"> 
                </div>
            </div>

            <div class="row">                
                <div class="col">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Analisis de Precios Unitarios
                        </label>
                    </div>                    
                </div>
                <div class="col">
                    <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file"> 
                </div>
            </div>

            <div class="row">                
                <div class="col">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Programa de ...
                        </label>
                    </div>                    
                </div>
                <div class="col">
                    <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file"> 
                </div>
            </div>

            <div class="row">                
                <div class="col">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Programa de Inversiones
                        </label>
                    </div>                    
                </div>
                <div class="col">
                    <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file"> 
                </div>
            </div>

            <div class="row">                
                <div class="col">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Flujo de Caja
                        </label>
                    </div>                    
                </div>
                <div class="col">
                    <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file"> 
                </div>
            </div>

            <div class="row">                
                <div class="col">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Programa Generacion Empleo
                        </label>
                    </div>                    
                </div>
                <div class="col">
                    <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file"> 
                </div>
            </div>

            <div class="row">                
                <div class="col">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Instalaciones Provisionales
                        </label>
                    </div>                    
                </div>
                <div class="col">
                    <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file"> 
                </div>
            </div>

            <div class="row">                
                <div class="col">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Plan de Calidad
                        </label>
                    </div>                    
                </div>
                <div class="col">
                    <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file"> 
                </div>
            </div>

            <div class="row">                
                <div class="col">
                    <br><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Otros Exigidos en Pliego de Condiciones
                        </label>
                    </div>                    
                </div>
                <div class="col">
                    <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file"> 
                </div>
            </div>
            <br>
            <div style="text-align:center">
                <button class="btn btn-primary">Grabar</button>
            </div>

        </div>
    </div>

    
</div>