img{    
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.centrar{
    text-align: center;
}

.pagina{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}