<br>
<div class="container">
    <div style="text-align:center;">
        <h1><strong>Compras</strong></h1>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="date"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Fecha"
                />
                <label for="floatingInput">Fecha</label>
              </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="String"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Nit"
                />
                <label for="floatingInput">Nit</label>
              </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="String"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Nombre"
                />
                <label for="floatingInput">Nombre</label>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Factura Numero"
                />
                <label for="floatingInput">Factura Numero</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Numero Cuenta"
                />
                <label for="floatingInput">Numero Cuenta</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="SubTotal"
                />
                <label for="floatingInput">Subtotal</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Iva"
                />
                <label for="floatingInput">Iva</label>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Total"
                />
                <label for="floatingInput">Total</label>
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

    <textarea name="" id="" rows="8" class="form-control"></textarea>
    <br>
    <div style="text-align: center;">
        <button class="btn btn-primary">Registrar</button>
    </div>

</div>