<br>
<div class="container">
    <div style="text-align:center;">
        <h1><strong>Crear Proveedor</strong></h1>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Numero de Documento"
                />
                <label for="floatingInput">Nit</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="string"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Nombres"
                />
                <label for="floatingInput">Nombre</label>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Direccion"
                />
                <label for="floatingInput">Direccion</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="string"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Telefono"
                />
                <label for="floatingInput">Telefono</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Email"
                />
                <label for="floatingInput">Email</label>
            </div>
        </div>
    </div>
    
    <div style="text-align:center;">
        <button class="btn btn-primary">Guardar</button>
    </div>

</div>