<br>
<div class="container">
    <div style="text-align:center;">
        <h1><strong>Estudio Financiero</strong></h1>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <br>
            <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Solvencia Economica"
                />
                <label for="floatingInput">Solvencia Economica</label>
            </div>
        </div>
        <div class="col">
            <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
            <input class="form-control form-control-lg" id="formFileLg" type="file"> 
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br>
            <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Capacidad de Credito"
                />
                <label for="floatingInput">Capacidad de Credito</label>
            </div>
        </div>
        <div class="col">
            <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
            <input class="form-control form-control-lg" id="formFileLg" type="file"> 
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br>
            <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Capacidad de Endeudamiento"
                />
                <label for="floatingInput">Capacidad de Endeudamiento</label>
            </div>
        </div>
        <div class="col">
            <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
            <input class="form-control form-control-lg" id="formFileLg" type="file"> 
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento Flujo de Caja</Strong></label>
            <input class="form-control form-control-lg" id="formFileLg" type="file"> 
        </div>
        <div class="col"></div>
    </div>
    <br>
    <div style="text-align: center;">
        <button class="btn btn-primary">Guardar</button>
    </div>

</div>