h1{
    font-weight: bold;
}

.galeria{
    width: 70%;
    margin: auto;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.galeria li{
    margin: 5px;
}

.galeria img{
    width: 75px;
    height: 50px;
}

td{
    text-align: center;
}

img{
    width: 300px; height: 300px;
}

#caracteristicas{
    color: #4e73df;
    font-weight: bold;
}

#caracteristicas:hover{
    color: #35f5bb;
    font-weight: bold;
}

p{
    font-weight: bold;
}