<br>
<div class="container">
    <div style="text-align:center;">
        <h1><strong>Acta de Inicio</strong></h1>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h3><strong>Participantes</strong></h3>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                 Contratista
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  Interventoria
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  Contratante
                </label>
              </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h3><strong>Informacion del Contrato</strong></h3>
        </div>
        <div class="col">
            <h3><Strong>Contratos</Strong></h3>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    <Strong>Contrato No</Strong> AD52421BJF
                </label>
              </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h2><Strong>Hora y Fecha Inicial</Strong></h2>
        </div>
        <div class="col">
            <input type="time" class="form-control">            
        </div>
        <div class="col">
            <input type="date" class="form-control">
        </div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h3><Strong>Desarrollo Reunion</Strong></h3>
            <textarea rows="10"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h3><Strong>Fecha Inicial Segun Contrato</Strong></h3>
        </div>
        <div class="col">
            <input type="date" class="form-control">            
        </div>
        <div class="col">
            <h3><Strong>Fecha Inicial Segun Acta</Strong></h3>
        </div>
        <div class="col">
            <input type="date" class="form-control">     
        </div>
    </div>    
    <div class="row">
        <div class="col">
            <h3><Strong>Plazo Obra Segun Contrato</Strong></h3>
        </div>
        <div class="col">
            <input type="text" class="form-control">            
        </div>
        <div class="col">
            <h3><Strong>Plazo Obra Segun Acta</Strong></h3>
        </div>
        <div class="col">
            <input type="text" class="form-control">     
        </div>
    </div> 
    <br>
    <div class="row">
        <div class="col">
            <h3><Strong>Programacion Acta Tecnica Inicial</Strong></h3>
        </div>
        <div class="col">
            <input type="time" class="form-control"> 
        </div>
        <div class="col">
            <input type="date" class="form-control"> 
        </div>
    </div>
    <br>
    <div style="text-align:center">
        <button class="btn btn-primary">Guardar</button>
    </div>
</div>