<div class="container">
  <br />
  <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Registro de Bitacora</h1>
    <br />
  </div>
    <div class="container">
      <div class="row g-2">      
        <div class="col-md">
          <strong>Nit:</strong>&nbsp;&nbsp;{{ nitEmpresa }}
        </div>
        <div class="col-md"> 
          <strong>Nombre Empresa:</strong>&nbsp;&nbsp;{{ nombreEmpresa }}
        </div>
      </div>
    </div>
    <p></p>
    <div class="container">
      <p>
        <strong>Fecha del dia:</strong>&nbsp;&nbsp;{{ fechaDia | date: "MM/dd/yyyy" }}
      </p>
    </div>
    <div class="container">
      <p><strong>No Contrato:</strong>&nbsp;&nbsp;{{ numeroContrato }}</p>
    </div>
    <div class="form-floating">
      <textarea 
      class="form-control" 
      style="height: 200px"
      id="floatingTextarea"
      disabled
      >{{ objetoContrato}}
    </textarea>
    <label for="floatingTextarea2">Objeto Contrato</label>
    </div>
    <hr> 
    <div class="container" style="text-align:center">
      <div class="row g-2">      
        <div class="col-md">
            <label style="cursor: pointer" (click)= "openLG(contenidoRegistroTiempo)"><strong>Estado del Tiempo</strong>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clouds" viewBox="0 0 16 16">
              <path d="M16 7.5a2.5 2.5 0 0 1-1.456 2.272 3.513 3.513 0 0 0-.65-.824 1.5 1.5 0 0 0-.789-2.896.5.5 0 0 1-.627-.421 3 3 0 0 0-5.22-1.625 5.587 5.587 0 0 0-1.276.088 4.002 4.002 0 0 1 7.392.91A2.5 2.5 0 0 1 16 7.5z"/>
              <path d="M7 5a4.5 4.5 0 0 1 4.473 4h.027a2.5 2.5 0 0 1 0 5H3a3 3 0 0 1-.247-5.99A4.502 4.502 0 0 1 7 5zm3.5 4.5a3.5 3.5 0 0 0-6.89-.873.5.5 0 0 1-.51.375A2 2 0 1 0 3 13h8.5a1.5 1.5 0 1 0-.376-2.953.5.5 0 0 1-.624-.492V9.5z"/>
            </svg></label>
        </div>
        <ng-template #contenidoRegistroTiempo let-modal>
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Estado del tiempo</h2>
            <button type="button" class="btn-close" aria-label="Close" (click)="limpiarFormulario()"></button>
          </div>
          <div class="modal-body">
            <div class="container" style="text-align:center">
              <h1>Horas de lluvia</h1>
            </div>

            <div class="card-body">
              <div class="row g-1" >
                <div class="col-md" *ngFor="let dia of dias; let i = index">
                  <div class="card">
                    <br>
                    <div class="container" style="text-align:center;">
                      <input class="form-check-input" #verificar1 type="checkbox">                      
                    </div>
                    <hr>  
                    <div class="container" id="iconoLluvia" *ngIf="verificar1" style="text-align:center; cursor: pointer;" (click)= "openSM(contenidoRegistroTiempo)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-drizzle" viewBox="0 0 16 16">
                        <path d="M4.158 12.025a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm-3.5 1.5a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 1 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm.747-8.498a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 11H13a3 3 0 0 0 .405-5.973zM8.5 2a4 4 0 0 1 3.976 3.555.5.5 0 0 0 .5.445H13a2 2 0 0 1 0 4H3.5a2.5 2.5 0 1 1 .605-4.926.5.5 0 0 0 .596-.329A4.002 4.002 0 0 1 8.5 2z"/>
                      </svg>
                    </div> 
                    <p style="text-align:center; cursor: pointer;" (click)= "openSM(contenidoRegistroTiempo)">{{ i + 1 }}</p>

                    <ng-template #contenidoRegistroTiempo let-modal>
                      <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Horas de lluvia</h2>
                        <button type="button" class="btn-close" aria-label="Close" (click)="limpiarFormulario()"></button>
                      </div>
                      <div class="modal-body">
                        <div class="row g-1">
                          <div class="col">
                            <h3><strong>Hora Inicio</strong></h3>
                            <input type="time" class="form-control">
                          </div>
                          <div class="col">
                            <h3><strong>Hora Fin</strong></h3>
                            <input type="time" class="form-control">
                          </div>
                        </div>  
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="limpiarFormulario()">Cerrar</button>
                        <button type="button" class="btn btn-primary" (click)="crearActividad()">Registrar Tiempo</button>
                      </div>
                    </ng-template>

                  </div>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="row g-2" >
                <div class="col-md" *ngFor="let dia of dias; let i = index">
                  <div class="card" >
                    <br>
                    <div class="container" style="text-align:center;">
                      <input class="form-check-input" #verificar1 value="false" type="checkbox">                      
                    </div>
                    <hr>  
                    <div class="container" id="iconoLluvia" *ngIf="verificar1" style="text-align:center; cursor: pointer;" (click)= "openSM(contenidoRegistroTiempo)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-drizzle" viewBox="0 0 16 16">
                        <path d="M4.158 12.025a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm-3.5 1.5a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 1 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm.747-8.498a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 11H13a3 3 0 0 0 .405-5.973zM8.5 2a4 4 0 0 1 3.976 3.555.5.5 0 0 0 .5.445H13a2 2 0 0 1 0 4H3.5a2.5 2.5 0 1 1 .605-4.926.5.5 0 0 0 .596-.329A4.002 4.002 0 0 1 8.5 2z"/>
                      </svg>
                    </div> 
                    <p style="text-align:center; cursor: pointer;" (click)= "openSM(contenidoRegistroTiempo)">{{ i + 13 }}</p>

                    <ng-template #contenidoRegistroTiempo let-modal>
                      <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Horas de lluvia</h2>
                        <button type="button" class="btn-close" aria-label="Close" (click)="limpiarFormulario()"></button>
                      </div>
                      <div class="modal-body">                        
                        <div class="row g-1">
                          <div class="col">
                            <h3><strong>Hora Inicio</strong></h3>
                            <input type="time" class="form-control">
                          </div>
                          <div class="col">
                            <h3><strong>Hora Fin</strong></h3>
                            <input type="time" class="form-control">
                          </div>
                        </div>                       
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="limpiarFormulario()">Cerrar</button>
                        <button type="button" class="btn btn-primary" (click)="crearActividad()">Registrar Tiempo</button>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>           
            
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="limpiarFormulario()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="crearActividad()">Registrar Tiempo</button>
          </div>
        </ng-template>
        <div class="col-md">
          <label style="cursor: pointer" (click)="linkMaquinariaEquipo()"><strong>Maquinaria/Equipo</strong>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
          </svg></label>
        </div> 
        <div class="col-md">
          <label style="cursor: pointer" (click)="linkAsistencia()"><strong>Asistencia</strong>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          </svg></label>
        </div>
        <div class="col-md">
          <label style="cursor: pointer" (click)= "openLG(contenidoRegistroNotas)"><strong>Notas</strong>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 11a.5.5 0 0 0 .5-.5V6.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 .5.5z"/>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
          </svg></label>
        </div> 
        
        <ng-template #contenidoRegistroNotas let-modal>
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Notas del dia</h2>
            <button type="button" class="btn-close" aria-label="Close" (click)="limpiarFormulario()"></button>
          </div>
          <div class="modal-body" id="bodyNotas">
           <div class="container" *ngFor="let notas of arrayNotas" autofocus>
              <p id="notas" autofocus>{{ notas }}</p>
           </div>            
          </div>          
          <div class="modal-footer">  
            <div class="container">
              <div class="row">
              <div class="col">
                <input id="inputNota" type="text" class="form-control" placeholder="Mensaje" (keyup.enter)="crearNota()" [(ngModel)]="nota" autofocus>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary" (click)="crearNota()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg></button>
              </div>
              </div>  
            </div>
          </div>
        </ng-template>

      </div>      
    </div>
    <hr>
    <div class="container">
      <button class="btn btn-primary" id="botonActvidad" (click)= "openLG(contenidoRegistroActividad)">
       Registrar Actividad +
      </button>
      <hr>
    </div> 
    <!-- Modal -->
        <ng-template #contenidoRegistroActividad let-modal>
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Crear Actividad</h2>
            <button type="button" class="btn-close" aria-label="Close" (click)="limpiarFormulario()"></button>
          </div>
          <div class="modal-body">
           
            <div class="row g-2">
              <div class="col-md">
                <div id="box" style="float: left; margin: 10px">
                  <select class="form-select" aria-label="tipo de iva" [(ngModel)]="select" (change)="obtenerActividadSecundarias()">
                    <option selected>Actividad Principal</option>
                    <option *ngFor="let actividadP of actividadPrincipal; let i = index">{{ actividadP.idActividadPrincipal }} {{ actividadP.nombreActividadPrincipal }}</option>
                  </select>    
                </div>
              </div>    
              <div class="col-md">
                <div id="box" style="float: left; margin: 10px">
                  <select class="form-select" aria-label="tipo de iva" [(ngModel)]="nombreActividadCadena">
                      <option selected>Actividad Secundaria</option>
                      <option *ngFor="let actividadS of actividadSecundaria; let i = index">{{ actividadS.idActividadSecundaria }} {{ actividadS.nombreActividadSecundaria }}</option>
                    </select>
                </div> 
              </div>  
            </div>
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Largo"
                    [(ngModel)] ="largo"
                  />
                  <label for="floatingInput">Largo</label>
                </div>
              </div>
              <div class="col"></div>
            </div>
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Ancho mts2"
                    [(ngModel)] ="ancho"
                  />
                  <label for="floatingInput">Ancho mts2</label>
                </div>
              </div>    
              <div class="col-md">
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Alto mts2"
                    [(ngModel)] ="alto"
                  />
                  <label for="floatingInput">Alto mts2</label>
                </div>
              </div>  
            </div>

            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Area mts2"
                    [(ngModel)] ="area"
                  />
                  <label for="floatingInput">Area mts2</label>
                </div>
              </div>    
              <div class="col-md">
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Volumen mts2"
                    [(ngModel)] ="volumen"
                  />
                  <label for="floatingInput">Volumen mts2</label>
                </div>
              </div>  
            </div>
          </div>          
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="limpiarFormulario()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="crearActividad()">Crear Actividad</button>
          </div>
        </ng-template>
       
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">Actividades y Eventos del dia</h1>
      <br />
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Actividad</th>
          <th scope="col">Largo mts2</th>
          <th scope="col">Ancho mts2</th>
          <th scope="col">Alto mts2</th>
          <th scope="col">Area mts2</th>
          <th scope="col">Volumen mts2</th>
          <th scope="col">Imagenes Inicio dia</th>
          <th scope="col">Imagenes final dia</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of actividades; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ registro.nombreActividad }}</td>
          <td>{{ registro.largo }}</td>
          <td>{{ registro.ancho }}</td>
          <td>{{ registro.alto }}</td>
          <td>{{ registro.area }}</td>
          <td>{{ registro.volumen }}</td>
          <td>
            <label style="cursor: pointer" (click)= "openLG(registroFotograficoInicial)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
              <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
            </svg></label>

            <ng-template #registroFotograficoInicial let-modal>
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Registro Fotografico Inicial</h2>
                <button type="button" class="btn-close" aria-label="Close" (click)="limpiarFormulario()"></button>
              </div>
              <div class="modal-body">
               
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="\assets\1.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="\assets\2.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="\assets\3.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="\assets\4.JPG" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>

              </div>

              <div class="container" style="text-align:center">                
                <div class="mb-3">
                  <input class="form-control" type="file" id="formFileMultiple" multiple>
                </div>
                <div class="container">
                  <button type="button" class="btn btn-primary">Subir Archivo</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="limpiarFormulario()">Cerrar</button>                
              </div>
            </ng-template>

          </td>
          <td>
            <label style="cursor: pointer" (click)= "openLG(registroFotograficoFinal)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
              <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
            </svg></label>


            <ng-template #registroFotograficoFinal let-modal>
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Registro Fotografico Final</h2>
                <button type="button" class="btn-close" aria-label="Close" (click)="limpiarFormulario()"></button>
              </div>
              <div class="modal-body">
               
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://files.alerta.rcnradio.com/alerta_tolima_prod/public/migration/v%C3%ADaapicala.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://fnd.kienyke.com/wp-content/uploads/2018/08/Caquet%C3%A1-Foto-Nota-2-Rehabilitan-v%C3%ADas-terciarias.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://storage.contextoganadero.com/s3fs-public/galeria/field_galeria/4_24.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://www.renovacionterritorio.gov.co/especiales/plan_50_51/img/portfolio/fullsize/2.jpg" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>

              </div>

              <div class="container" style="text-align:center">                
                <div class="mb-3">
                  <input class="form-control" type="file" id="formFileMultiple" multiple>
                </div>
                <div class="container">
                  <button type="button" class="btn btn-primary">Subir Archivo</button>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="limpiarFormulario()">Cerrar</button>                
              </div>
            </ng-template>


          </td>
          <td><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
            <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
          </svg></a></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <br />
    <div class="text-center">
      <button class="btn btn-primary btn-user btn-block"> Registrar </button>
    </div>
</div>

{{usuario}}