<br>
<div class="container">
    <div style="text-align:center;">
        <h1><strong>Estudio Juridico</strong></h1>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <br>
            <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Existencia Juridica"
                />
                <label for="floatingInput">Existencia Juridica</label>
            </div>
        </div>
        <div class="col">
            <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
            <input class="form-control form-control-lg" id="formFileLg" type="file"> 
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br>
            <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Camara de Comercio"
                />
                <label for="floatingInput">Camara de Comercio</label>
            </div>
        </div>
        <div class="col">
            <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
            <input class="form-control form-control-lg" id="formFileLg" type="file"> 
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br>
            <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="RUT"
                />
                <label for="floatingInput">RUT</label>
            </div>
        </div>
        <div class="col">
            <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
            <input class="form-control form-control-lg" id="formFileLg" type="file"> 
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br>
            <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="RUE"
                />
                <label for="floatingInput">RUE</label>
            </div>
        </div>
        <div class="col">
            <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
            <input class="form-control form-control-lg" id="formFileLg" type="file"> 
        </div>
    </div>

    <br>
    <div style="text-align: center;">
        <button class="btn btn-primary">Guardar</button>
    </div>

</div>