<br>
<div class="container">
    <div style="text-align:center;">
        <h1><strong>Correspondencia Recibida</strong></h1>
    </div>
    <hr>
    
    <div class="row">
        <div class="col">
            <br><br><br>
            <h2><strong>Tipo de Documento</strong></h2>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Oficio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Comunicado
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Memorando
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Solicitud
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    PQR
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    <p>Otro <input type="text" placeholder="Cual?"></p> 
                </label>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h2><strong>Requiere Respuesta</strong></h2>
        </div>
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    <p>Si <input type="text" placeholder="Plazo Dias"></p> 
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    No 
                </label>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col">
            <h2><strong>Observaciones</strong></h2>
            <textarea class="form-control" rows="5"></textarea>
        </div>
    </div>
    <br>
    <div style="text-align:center">
        <button class="btn btn-primary">Grabar</button>
    </div>
    
    <br>
    <div style="text-align:center">
        <button class="btn btn-primary">Grabar</button>
    </div>

</div>