<br>
<div class="container">
    <div style="text-align:center;">
        <h1><strong>Estudio Ambiental</strong></h1>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <br>
            <h2><strong>Experiencia Tramite Corporaciones</strong></h2>
        </div>
        <div class="col">
            <div>
                <label for="formFileLg" class="form-label"><Strong>Adjuntar Documento</Strong></label>
                <input class="form-control form-control-lg" id="formFileLg" type="file"> 
            </div>
        </div>
    </div>
    <br>
    <div style="text-align:center;">
        <br>
        <h2><strong>Datos Ingeniero Ambiental</strong></h2>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Numero de Documento"
                />
                <label for="floatingInput">Numero de Documento</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="string"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Nombres"
                />
                <label for="floatingInput">Nombres</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="string"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Apellidos"
                />
                <label for="floatingInput">Apellidos</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Direccion"
                />
                <label for="floatingInput">Direccion</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="string"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Telefono"
                />
                <label for="floatingInput">Telefono</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Email"
                />
                <label for="floatingInput">Email</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br>
            <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="No Tarjeta Profesional"
                />
                <label for="floatingInput">No Tarjeta Profesional</label>
            </div>
        </div>
        <div class="col">
            <label for="formFileLg" class="form-label"><Strong>Adjuntar Tarjeta Profesional</Strong></label>
            <input class="form-control form-control-lg" id="formFileLg" type="file"> 
        </div>
    </div>
    <div style="text-align:center;">
        <button class="btn btn-primary">Guardar</button>
    </div>
</div>